@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kindora Bufferly";
  src: url("./fonts/kindora-bufferly/Kindora-Bufferly.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary: #973535;
  --secondary: #4B1B1B;
  --accent1: #466286;
  --accent2: #F7F2EA;

  --headlines: "Kindora Bufferly";
}

h1,
h2,
h3,
h4 {
  font-family: var(--headlines);
}